---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ModalOne from "../../components/snippets/ModalOne.astro";
import "../../styles/Index.css";

const pageTitle = "Index Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="inner">
    <ul>
      <li>
        <ModalOne />
      </li>
    </ul>
  </div>
</BaseLayout>
