---
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <h1>Emi Web</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
    <div>
      <p
        class="codepen"
        data-height="300"
        data-default-tab="html,result"
        data-slug-hash="xxpQRyV"
        data-user="emi-jp"
        style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
      >
        <span
          >See the Pen <a href="https://codepen.io/emi-jp/pen/xxpQRyV">
            アコーディオン（Vanilla JS）</a
          > by emi (<a href="https://codepen.io/emi-jp">@emi-jp</a>) on <a
            href="https://codepen.io">CodePen</a
          >.</span
        >
      </p>
      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"
      ></script>
    </div>
  </body>
</html>
