---
import "../styles/Navigation.css";
---

<ul>
  <li><a href="/" class="menuLink">トップページ</a></li>
  <li><a href="/modal/modal01" class="menuLink">モーダル01</a></li>
  <li><a href="/post-1" class="menuLink">post-1</a></li>
</ul>
